# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare files that should always have CRLF line endings on checkout
*.cs text eol=crlf
*.config text eol=crlf
*.xml text eol=crlf
*.json text eol=crlf

# Explicitly declare files that should always have LF line endings on checkout
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.exe binary
*.dll binary