<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CozyComfortServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CozyComfortServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44365/CozyComfortService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CozyComfortServiceSoap"
                contract="CozyComfortServiceRef.CozyComfortServiceSoap" name="CozyComfortServiceSoap" />
            <endpoint address="http://localhost:44365/CozyComfortService.asmx"
                binding="customBinding" bindingConfiguration="CozyComfortServiceSoap12"
                contract="CozyComfortServiceRef.CozyComfortServiceSoap" name="CozyComfortServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>